<div class="dropdown-container {{className}}">
    {{#selectedOption}}
        <span class='reset-dropdown'><i class='fa fa-times'></i></span>
    {{/selectedOption}}
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" style="width: 100%;" aria-haspopup="true" aria-expanded="false" title="{{title}}">
        <span class="text" data-active-item-text>{{caption}}</span>
    </button>
    <div role="menu" class="dropdown-menu dropdown-menu-right list-group hidden" data-show-active-item data-skip-active-class="true">
        {{#options}}
            <a class="dropdown-item {{#disabled}}disabled{{/disabled}}" data-value="{{key}}" aria-current="{{isActive}}" role="menuitem">
                {{value}}
            </a>
        {{/options}}
    </div>
</div>