
<div id="id-{{instanceId}}">
<div class="mat-main-wrapper" id="matMainWrapper">
  <div class="mat-main-content" id="matMainContent">
    <div class="w-100">
      <div class="w-100">
        <div class="mat-search-container">
          <div class="mat-search">
            <input
              type="text"
              class="form-control"
              id="matSearchInput"
              placeholder="{{#str}}searchbarplaceholder, block_mat_explorer{{/str}}"
              aria-label="{{#str}}searchbarplaceholder, block_mat_explorer{{/str}}"
            />
            <button class="btn btn-link" id="matClearSearch" aria-label="{{#str}}searchclearbtn, block_mat_explorer{{/str}}">
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        id="matDropDownContainer"
        class="mat-filter-dropdown-container"
      ></div>
      <div class="w-100 mat-pagination-container top">
        <div class="mat-total-count" id="matCourseCount"></div>
        <div class="mat-sort-container" id="matSortContainer"></div>
        <div class="mat-top-pagination" id="matTopPaginationContainer"></div>
      </div>
      <div id="matMainContainer" class="mat_res_container"></div>
      <div class="w-100 mat-pagination-container bottom">
        <div class="mat-bottom-pagination" id="matBottomPaginationContainer"></div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal mat-modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  id="mat_modal"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Course title</h4>
            <div class="close-button">
                <button
                        type="button"
                        class="btn btn-primary rounded-circle"
                        data-dismiss="modal"
                        aria-label="{{#str}}closemodalbtn, block_mat_explorer{{/str}}"
                >
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
      <div class="modal-dynamic-content"></div>
    </div>
  </div>
</div>
</div>
